:root {
    --accent: #99f5d2;
}

.row {
    display: flex;
    flex-direction: column;
  }
  
.big {
  width: 100%;
}

h1 {
    color: #99f5d2;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }